<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eduhub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eduhub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="eduhub2.png" alt="" width="100" height="60" class="d-inline-block align-text-top">

                </a>
                <div class="d-flex row">
                    <div class="px-2 flex-fill col-lg-6 col-sm-12">
                        <img class="" src="/images/eduhub2.png" alt="Connecting people" width={150} height={50} />
                    </div>
                    <div class="p-2 flex-fill d-flex col-sm-12 col-lg-6">
                        <div class="flex-fill justify-content-center align-content-center">
                            <i class="topIcon fab fa-facebook-square me-3"></i>
                            <Link href="facebook.com" passHref>
                            <i class="topIcon fab fa-instagram-square me-3"></i>
                            </Link>

                            <i class="topIcon fab fa-pinterest-square me-3"></i>
                            <i class="topIcon fab fa-twitter-square"></i>
                        </div>

                        <form>
                            <div class="d-flex flex-row">
                                <input type="search" placeholder="Search" class="me-2 form-control"
                                    aria-label="Search" />
                                <button variant="outline-success">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary text-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex  text-white justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Student" asp-controller="Courses"
                                asp-action="Create">Courses</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Education
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="Student" asp-controller="Courses"
                                        asp-action="Create">Registration</a></li>
                                <li><a class="dropdown-item" href="#">Programmes</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Student
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="Student" asp-controller="Courses"
                                        asp-action="Create">Courses Registration</a></li>
                                <li><a class="dropdown-item" href="#">Semester Registration</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-area="portal" asp-controller="exams"
                                        asp-action="index">Exams</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="portal" asp-controller="credentials"
                                asp-action="Create"></a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container text-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - eduhub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
