@model eduhub.Models.Credential

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Credential</h4>
<hr />
<div class="row m-auto">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Credential" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Upload You Credential</label>
                <input for="files" type="file" name="files" aria-required="You have not selected any file"
                    class="form-control" required="You have not selected any file" multiple aria-multiline="true" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.UploadStatus
            </div>
        </div>
    </div>
</div>
